/* Caminho: src/App.css */
@import "tailwindcss";

#root {
  background-color: rgb(235, 226, 226);
}

/* Globais */
body {
  margin: 0;
  padding: 0;
  background-color: #babfc4;
}

/* Se quiser altura padrão p/ header Fallback (não obrigatório) */
/* .app-header { min-height: 250px; } */

/* Responsivo opcional */
/* @media (min-width: 768px) {
  .app-header {
    min-height: 400px;
  }
} */
